@{
    ViewData["Title"] = "Contacto";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Licenciatura en Biologia<br />
    Lic. Norberto Farfan<br />
    Tecnológico de Estudios Superios de Huixaquilucan
</address>

<address>
    <strong>Soporte:</strong> <a href="mailto:Support@example.com">samesqu@gmail.com</a><br />
    
</address>
